@font-face {
  font-family: "FontThin";
  src: url("./assets/fontthin.otf") format("opentype");
}

body {
  background-color: black;
  color: black;
  max-height: 100vh;
  font-family: "FontThin", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: max(20vh, 100px);
}

.flex2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: max(10vh, 50px);
}

.fullheight {
  height: 100%;
}

.font-small {
  font-size: 0.8em;
}

#gif {
  max-width: min(400px, 90%);
  object-fit: contain;
}

p {
  color: #878787;

  font-weight: 100;
  font-size: 1em;
}

a {
  background-color: black;
  color: #878787;

  font-weight: 100;
  font-size: 1em;
  padding: 10px 20px;
  border: 1px solid #878787;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  background-color: rgba(255, 0, 0, 0.5);
  border-color: rgba(255, 0, 0, 0.5);
}

.m-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.progresscontainer {
  padding-top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  height: 20px;
  background: #878787;
  box-shadow: 2px 14px 15px -7px rgba(30, 166, 250, 0.36);
  border-radius: 50px;
  transition: all 0.5s;
  animation: hide 7s forwards;
}

.progress {
  width: 40%;
  height: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  padding: 0px;
  background: #8787876a;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(255, 0, 0, 0.5);
  animation: hide 6s forwards;
}

.comingsoon {
  animation: show 6s forwards;
}

.circle {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: red;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: grow 1s forwards;
}

@keyframes grow {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
